/* ---------------mobile nav bar-----------  */

/* Side Navbar (Show Items) */
.show-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

/* global style for nav bar */
.navbar {
    text-align: right;
    color: var(--clr-secondaryText);
    background-color: var(--clr-secondary-bg);
    position: fixed;
    width: 100%;
}



.navbar__link {
    text-decoration: none;
    color: var(--clr-secondaryText);
}

.list-category {
    padding: 8px 0;
}



/* Logo Style */
.logo {
    text-align: left;
    list-style-type: none;

}

/* Hover state */

.navbar__link {
    text-decoration: none;
}

.navbar__link:hover {
    color: var(--clr-light);
}


/*   TABLE */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table__header,
.table__data {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.swatch {
    width: 100px;
}

.swatch_example__width {
    width: 300px;
}

/*  typography style for */


.utility-classes-list {
    font-family: var(--font-family-body);
    font-size: var(--font-size-2);
    padding-left: 20px;
}

/* style for about me page */
.content {
    text-align: center;
    list-style-type: decimal;
}



/* ---------Media Query for Desktop nav bar-----------  */
@media only screen and (min-width: 1073px) {

    /*   for hiding toggle from mobile nav bar */
    nav .mobile-toggle {
        display: none;
    }

    /*   for hiding items from mobile nav bar */
    .show-items {
        display: none;
    }

    /*   top nav bar style */
    .top-nav-bar {
        display: flex;
        justify-content: flex-end;
        gap: 50px;


    }

    .navbar {
        background: none;
    }

    .navbar__sidenav {
        background-color: var(--clr-secondary-bg);
        width: 200px;

    }

    .navbar__list {
        display: block;
        text-align: left;

        gap: 50px;
    }



}