/* ---------------mobile nav bar-----------  */

/* Side Navbar (Show Items) */
.show-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

/* global style for nav bar */
nav {
    text-align: right;
    color: var(--clr-primary);
    background-color: var(--clr-light);
}

nav a {
    text-decoration: none;
    color: var(--clr-secondary);
}

.list-category {
    padding: 8px 0;
}

/* Logo Style */
.logo {
    text-align: left;
    list-style-type: none;

}

/* Hover state */
nav a:hover {
    color: #555;
}

/* Active state */
nav a.active {
    color: #777;
}

/* ---------Media Query for Desktop nav bar-----------  */
@media only screen and (min-width: 1073px) {

    /*   for hiding toggle from mobile nav bar */
    nav .mobile-toggle {
        display: none;
    }

    /*   for hiding items from mobile nav bar */
    .show-items {
        display: none;
    }

    /*   top nav bar style */
    .top-nav-bar {
        display: flex;
        justify-content: flex-end;
        gap: 50px;
    }

    nav ul {
        display: block;
        text-align: left;
        padding: 20px;
        gap: 50px;
    }
}