/* Varibles for colors */
:root {
    --clr-primary: #E6A875;
    --clr-secondary: #913F08;
    --clr-accent: rgb(54, 53, 53);
    --clr-light: #CAE69E;
    --clr-accent: #351355;
    --clr-white: white;
    --clr-primaryText: #3C1263;
}


/* Border Box Fix */
html {
    box-sizing: border-box;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

/* Remove Padding from Lists */
ul,
ol {
    padding: 0;
    list-style: none;
}

/* Utility classes for colors */
.primary-bg {
    background-color: #E6A875;

    /* Primary Background */
}

.primary-text {
    color: #3C1263;
    /* Primary Text */
}

.secondary-text {
    color: #FFFFFF;
    /* Secondary Text */
}

.secondary-bg {
    background-color: #913F08;
    /* Secondary Background */
}

.accent-color-bg {
    background-color: #320F52;
    /* Accent Color */
}

.accent-color-text {
    color: #CAE69E;
    /* Additional Accent Color */
}