/* Varibles for colors */
:root {
    --clr-primary: #e9c4a7;
    --clr-secondary: #DC7983;
    --clr-primaryText: #064260;
    --clr-secondaryText: #000000;
    --clr-light: #cae69e;
    --clr-dark: #351355;
}


/* Border Box Fix */
html {
    box-sizing: border-box;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

/* Remove Padding from Lists */
ul,
ol {
    padding: 0;
    list-style: none;
}

/* Utility classes for colors */
.primary-bg {
    background-color: #e9c4a7;

    /* Primary Background */
}

.primary-text {
    color: #064260;
    /* Primary Text */
}

.secondary-text {
    color: #000000;
    /* Secondary Text */
}

.secondary-bg {
    background-color: #DC7983;
    /* Secondary Background */
}

.accent-color-bg {
    background-color: #320F52;
    /* Accent Color */
}

.accent-color-text {
    color: #CAE69E;
    /* Additional Accent Color */
}

/*        Variables for font-family, font-size, font-weight, line height and letter spacing   */
:root {
    --font-family-heading: 'Protest Riot', sans-serif;
    --font-family-body: 'Roboto', sans-serif;
    --font-size-4: 32px;
    --font-size-3: 28px;
    --font-size-2: 24px;
    --font-size-1: 20px;
    --font-size-body: 18px;

    --font-weight-normal: normal;
    --font-weight-bold: bold;
    --font-weight-italic: italic;
    --font-weight-medium: 500;

    --line-height-normal: normal;
    --line-height-heading: 1.2;
    --line-height-body: 1.5;

    --letter-spacing-normal: normal;
    --letter-spacing-small: 1px;
    --letter-spacing-medium: 2px;

}

/* Utility classes for font family */
.u-ff-heading {
    font-family: var(--font-family-heading);
}

.u-ff-body {
    font-family: var(--font-family-body);
}

/* Utility classes for Font Size */
.u-fs-4 {
    font-size: var(--font-size-4);
}

.u-fs-3 {
    font-size: var(--font-size-3);
}

.u-fs-2 {
    font-size: var(--font-size-2);
}

.u-fs-1 {
    font-size: var(--font-size-1);
}

.u-fs-body {
    font-size: var(--font-size-body);
}

/* Utility classes for Font weight */
.u-fw-normal {
    font-weight: var(--font-weight-normal);
}

.u-fw-bold {
    font-weight: var(--font-weight-bold);
}

.u-fw-italic {
    font-weight: var(--font-weight-italic)
}

.u-fw-medium {
    font-weight: var(--font-weight-medium);
}