/* Varibles for colors */
:root {
    --clr-primary: #e9c4a7;
    --clr-secondary: #DC7983;
    --clr-primaryText: #064260;
    --clr-secondaryText: #000000;
    --clr-light: #cae69e;
    --clr-dark: #351355;
}


/* Border Box Fix */
html {
    box-sizing: border-box;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

/* Remove Padding from Lists */
ul,
ol {
    padding: 0;
    list-style: none;
}

/* Utility classes for colors */
.primary-bg {
    background-color: #e9c4a7;

    /* Primary Background */
}

.primary-text {
    color: #064260;
    /* Primary Text */
}

.secondary-text {
    color: #000000;
    /* Secondary Text */
}

.secondary-bg {
    background-color: #DC7983;
    /* Secondary Background */
}

.accent-color-bg {
    background-color: #320F52;
    /* Accent Color */
}

.accent-color-text {
    color: #CAE69E;
    /* Additional Accent Color */
}

/*        Variables for font-family, font-size, font-weight    */
:root {
    --font-family-heading: 'Protest Riot', sans-serif;
    --font-family-body: 'Roboto', sans-serif;
    --font-size-h1: 36px;
    --font-size-h2: 30px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-body: 16px;


}